$font-family: sans-serif;

$header-image-url: url(../img/m-h-night.jpg);
$header-color: #fff;
$footer-color: #fff;

$font-sizes: ("small": 15px, "normal": 20px, "large": 30px, "2large": 40px);

$font-color: #fff;
$button-bgc: #e3ac00;

$section-color: #21232e;
$section-bgc: #3b3f50;
$section-banner-color_2: #963150; 
$section-banner-color_1: #dea406;

$mark-color: #ff4e33;
